<template>
  <v-app>
    <v-container fluid>
    <div class="filer-container">
      <button class="btn" @click="filterProduct('all')">All</button>
      <button class="btn" @click="filterProduct('samsung')">samsung</button>
      <button class="btn" @click="filterProduct('apple')">apple</button>
      <button class="btn" @click="filterProduct('oneplus')">Oneplus</button>
    </div>
    <br>
      <v-layout wrap>
        <v-flex xs12 sm6 md4 lg3 v-for="(item, index) in productList" :key="index">
          <v-card class="text-xs-center ma-2 pa-2">
            <v-responsive class="pt-4">
              <v-avatar tile size="230" color="red">
                <img :src="item.image" alt="alt">
              </v-avatar>
            </v-responsive>
            <v-card-text>
              <div class="subheading" v-bind:style="styleObject">
                {{item.name}}
                <p class="grey--text">
                  <i class="fas fa-rupee-sign" aria-hidden="true" ></i>
                  &nbsp;{{item.price}}
                </p>
              </div>
              <div class="grey--text">{{item.description}}</div>
            </v-card-text>
            <v-card-actions>
               <v-btn
                small
                round
                depressed
                color="teal lighten-1 white--text"
               @click="deleteItem(index)"
                :class="`btn-center`"
              >Delete</v-btn>
              <v-spacer></v-spacer>
              <v-btn
                small
                round
                depressed
                color="teal lighten-1 white--text"
                @click="editDataByIndex(item.id)"
                :class="`btn-center`"
              >Edit</v-btn>
            </v-card-actions>
          </v-card>
            <v-dialog
            content-class="hello"
            v-model="dialog"
            max-width="600px"
            
          >
            <v-card>
              <v-card-title primary-title>
                <h3 block style="font-family: Times New Roman, Times, serif;">Edit Product</h3>
              </v-card-title>
              <v-card-text>
                <v-form>
                  <v-text-field
                    name="Product Name"
                    label="Enter Product name"
                    id="id"
                    v-model="formData.name"
                  ></v-text-field>
                  <v-text-field
                    name="title"
                    label="Enter Product Price"
                    id="id"
                    v-model="formData.price"
                  ></v-text-field>
                    <v-select
                        :items="optionList"
                  label="Category"
                  v-model="selected"
                  ></v-select>
                  <v-text-field
                    name="Manufacturer"
                    label="Image url"
                    id="id"
                    v-model="formData.image"
                  ></v-text-field>
                  <v-textarea v-model="formData.description" label="Enter description" ></v-textarea>
                  <v-btn flat class="primary mt-3 sm6 xs6 md6" small @click="submitForm(item.id)">Submit</v-btn>
                  <v-btn class="primary mt-3 sm6 xs6 md6" small @click="closeform">
                    <v-icon small left>close</v-icon>close
                  </v-btn>
                </v-form>
              </v-card-text>
            </v-card>
          </v-dialog>
        </v-flex>
      </v-layout>
      <div class="floating-add" @click="toggleModal">
        +
      </div>
      <Modal :displayModal="showAddModal" :maxWidth="`700px`" :callBack="toggleModal">
        <div class="form-conrainer">
        <Form :filterProduct="filterProductData" :closePopUp="toggleModal"/>
        </div>
      </Modal>
    </v-container>
  </v-app>
</template>

<script>
import { mapGetters } from "vuex";
import Form from "../components/form";
import Modal from "../components/modal";
import { category } from '../assets/data/constant';
export default {
  components:{
    Form,
    Modal
  },
  data: function() {
    return {
      styleObject: {
        textTransform: "capitalize",
        fontSize: "16px"
      },
      showAddModal: false,
      dialog: false,
      formData: {
            type: Object
        },
      productList: [],
      filter: 'all',
      pId : Number,
      selected: 'All',
      optionList: category
   }
  },
  methods: {
    toggleModal() {
      this.showAddModal = !this.showAddModal;
    },
    editDataByIndex(productId) {
      this.pId = productId;
      this.dialog = true;
      let itemObj = this.productData.filter(item => item.id == productId);
      this.formData = JSON.parse(JSON.stringify(itemObj[0]));
    },
    submitForm() {
        var data =  {
        name: this.formData.name,
        description: this.formData.description,
        manufacture: this.selected,
        price: this.formData.price,
        image: this.formData.image
      }
      this.$store.dispatch("EditData", {
        updateData: data,
        productId: this.pId
      });
      this.$notify({
        group: "foo",
        title: "Success",
        text: "Item Edited Successfully"
      });
      this.dialog = false;
      this.filterProduct(this.filter);
    },

    closeform() {
      this.dialog = false;
    },

    deleteItem(deletekey) {
      let productId = this.productList[deletekey].id;
      this.$store.dispatch("deleteData", productId);
      this.$notify({
        group: "foo",
        title: "Success",
        text: "Item Deleted Successfully"
      });
      console.log(this.filter);
      this.filterProduct(this.filter);
    },
    filterProduct(brand) {
        this.selected = brand;
        if(brand == 'all') {
            this.productList = this.productData;
            this.filter = brand;
            return
        }
        this.filter = brand;
        let filterProduct = this.productData.filter(item => item.manufacture == brand);
        this.productList = filterProduct;
    },
    filterProductData() {
      this.filterProduct(this.filter);
    }
  },
  computed: {
    ...mapGetters({
      productData: "getProduct"
    })
  },

  created() {
    this.productList = this.productData;
  }
};
</script>

<style scoped>
.floating-add {
  position: fixed;
    bottom: 50px;
    right: 50px;
    height: 60px;
    width: 60px;
    text-align: center;
    background: #26a69a;
    border-radius: 100px;
    padding-top: 4px;
    box-shadow: 0px 2px 10px 1px #26a69a;
    color: white;
    font-size: 34px;
    cursor: pointer;
    z-index: 9999;
}
.form-conrainer {
  padding: 40px;
  padding-top: 60px;
}
.filer-container {
  color: #ffffff;
  text-align: center;
  margin: 2px;
  display: flex;
  justify-content: flex-end;
}

.show {
  display: block;
}

.container {
  margin-top: 20px;
  overflow: hidden;
}

.btn {
  border: none;
  outline: none;
  padding: 0px 30px;
  height: 40px;
  background-color: #26a69a;
  cursor: pointer;
  border-radius: 4px;
  margin-right: 15px;
}

.btn:hover {
  background-color: #ddd;
  color: #000;
}

.btn.active {
  background-color: #666;
  color: white;
}
</style>
