<template>
  <v-form ref="form" v-model="valid" lazy-validation>
    <v-flex xs12 md12>
      <v-text-field v-model="name" label="Product Name" name="name" :rules="nameRules" required></v-text-field>
    </v-flex>
    <v-flex xs12 md12>
      <v-text-field v-model="price" label="Enter Price" name="price" :rules="priceRules" required></v-text-field>
    </v-flex>
    <v-flex xs12 md12>
      <v-select :items="optionList" label="Category" v-model="selected"></v-select>
    </v-flex>
    <v-flex xs12 md12>
      <v-text-field
        v-model="image"
        label="Enter Image Url"
        name="image"
        :rules="imageRules"
        required
      ></v-text-field>
    </v-flex>
    <v-flex xs12 md12>
      <v-textarea v-model="description" label="Enter description" :rules="descRules" required></v-textarea>
    </v-flex>
    <v-flex>
      <v-btn color="success" :disabled="!valid" @click="validate">Submit</v-btn>
      <v-btn color="error" @click="reset">Reset Form</v-btn>
    </v-flex>
  </v-form>
</template>
<script>
import { category } from '../assets/data/constant';

export default {
  props: {
    filterProduct: {
      type: Function
      },
      closePopUp: {
        type: Function
      }
  },
  data: () => {
    return {
      name: null,
      nameRules: [v => !!v || "Product Name is required"],
      price: null,
      priceRules: [v => !!v || "Product Price is required"],
      manufacture: null,
      image: null,
      imageRules: [v => !!v || "Product Imageurl is required"],
      description: null,
      descRules: [v => !!v || "Product Description is required"],
      valid: true,
      sendData: {
        type: Object
      },
      optionList: category,
      selected:'All'
    };
  },
  methods: {
    validate() {
      if (this.$refs.form.validate()) {
        this.sendData = {
          id: Math.floor(Math.random() * 90 + 10),
          name: this.name,
          description: this.description,
          image: this.image,
          price: this.price,
          manufacture: this.selected
        };
        this.$store.dispatch("addNewdata", this.sendData);
        this.$notify({
          group: "foo",
          title: "Success",
          text: "Item Added Successfully"
        });
        this.filterProduct();
        this.closePopUp();
      }
    },
    reset() {
      this.$refs.form.reset();
    }
  }
};
</script>