<template>
    <div v-show="displayModal">
    <div class="modal-bg" @click="closeModal">
        
     </div>
     <div class="modal">
             <div class="modal_content">
                 <button @click="closeModal" class="close" type="button">&times;</button>
                 <div class="body">
                      <slot></slot>
                 </div>
             </div>
     </div>
    </div>
</template>
<script>
export default {
    props: {
        callBack: {
            type: Function
        },
        displayModal: {
            type: Boolean
        },
        maxWidth: {
            type: String
        },
    },
    data: function() {
        return {
        };

    },
    methods: {
        closeModal(event) {
            this.callBack();
        }
    }
};
</script>

<style scoped>
.modal {
    position: fixed;
    left: 50%;
    right: 0;
    top: 50%;
    bottom: 0;
    transform: translate(-43%, -50%);
    z-index: 100;
}
.modal-bg {
    background: rgba(0,0,0,.3);
    background: rgba(0,0,0,.3);
    z-index: 50;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.inline_holder {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    box-sizing: border-box;
    display: flex;
}
.inline_holder::before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
}
/* Modal content */
.modal_content {
    background-color: white;
    max-width: 700px;
    margin: auto;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 100%;

}

/* Close button */
.close {
    color: #000;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.close:focus {
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 480px) {
    .modal {
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        transform: none;
    }
    .inline_holder {
        padding: 0px;
    }
    .modal_content {
        vertical-align: top;
        height: 100%;
        overflow-y: scroll;
    }
}
</style>
