<template>
  <v-app>
    <navabar/>
         <notifications group="foo" />
         <br><br><br>
        <router-view/>
  </v-app>
</template>

<script>
import navabar from "@/components/navbar";

export default {
  name: "App",
  components: {
    navabar
  }
};
</script>

